* {
    /* border: 2px solid red; */
    box-sizing: border-box;
}

h1,
h3,
p,
body {
    margin: 0px;
    padding: 0px;
    text-align: center;
    font-family: 'Urbanist', sans-serif;
}

button {
    cursor: pointer;
}

.hover:hover {
    color: rgb(0, 0, 0);
    box-shadow: 4px 4px 7px black;
}

button,
.box-shadow {
    box-shadow: 2px 2px 5px black;
}

.flex-row {
    display: flex;
    flex-flow: row wrap;
}

.flex-column {
    display: flex;
    flex-flow: column wrap;
}

.flex1 {
    flex: 1;
}

.flexInitial {
    flex: 0 1 auto;
}

.align-center {
    align-items: center;
}

.justify-center {
    justify-content: center;
}

.justify-spaceEvenly {
    justify-content: space-evenly;
}

.justify-between {
    justify-content: space-between;
}

.text-center {
    text-align: center;
}

.padding10px {
    padding: 10px;
}

.padding5px {
    padding: 5px;
}

.margin100px {
    margin: 100px;
}

.backgroundColor-orange {
    background-color: #ffa837;
}

.min-height1000px {
    min-height: 1000px;
}

.height500px {
    height: 500px;
}

.min-height50px {
    min-height: 50px;
}

.height100px {
    height: 100px;
}

.height150px {
    height: 150px;
}

.min-height200px {
    min-height: 200px;
}

.min-width180px {
    min-width: 180px;
}

.min-width150px {
    min-width: 150px;
}

.width250px {
    width: 250px;
}

.width900px {
    width: 900px;
}

.gap20px {
    gap: 20px;
}

.gap10px {
    gap: 10px;
}

.strong {
    font-weight: bold;
}

.display-none {
    display: none;
}

.text-justify {
    text-align: justify;
}

.text-left {
    text-align: left;
}

.border {
    border: 5px #ffcc5c solid;
    border-radius: 15px;
}

.border-small {
    border: 3px #ffeead solid;
    border-radius: 15px;
}

.backgroundColor-main {
    background-color: #96ceb4;
}

.backgroundColor-buttons {
    background-color: rgb(255, 252, 246);
}

.font-title {
    font-family: 'Lilita One', cursive;
    font-weight: 900;
    font-size: 40px;
    color: #ff6f69;
    text-shadow: 3px 3px black;
}

.font-buttons {
    font-family: 'Lilita One', cursive;
    font-weight: 400;
    font-size: 20px;
    color: rgb(47, 46, 46);
}

.backgroundColor-blue {
    background-color: rgb(151, 199, 250);
}

.backgroundColor-red {
    background-color: #ff6f69;
}

.backgroundColor-brown {
    background-color: rgb(180, 142, 142);
}

.backgroundColor-yellow {
    background-color: #ffcc5c;
}

.border-bottom {
    border-bottom: 5px #ffeead solid;
}

.border-top {
    border-top: 5px #ffeead solid;
}

.border-right {
    border-right: 5px #ffeead solid;
}

#image {
    background-size: contain;
}